body{
    font-family: Arial, Helvetica, sans-serif;
}
td{
    border:1px solid white;
    padding:5px;
}
.empty{
    padding:5px;
    border:1px solid white !important;
    background-color:inherit !important;

}
button:hover{
    cursor:pointer;
}
.empty:hover{
    color:inherit;
    background-color: inherit;
    border:1px solid white !important;
    cursor:default !important;
}
td:hover{
    border:1px solid black;
    cursor:pointer;
}
.red{
   background-color:rgb(255, 149, 130);
}
.orange{
    background-color:rgb(250, 209, 132);
}
.blue{
    background-color:rgb(171, 203, 255);

}
.noble{
    background-color:rgb(255, 226, 138);
}
.halogen{
    background-color:rgb(255, 208, 66);
}
.aqua{
    background-color:rgb(131, 246, 212);
}
.darkBlue{
    background-color:rgb(131, 162, 246);
}
#play{
    background-color: rgb(189, 120, 42);
    border:none;
    width: 100px;
    height: 30px;
    border-radius: 8px;
    color:white;
}
.metaliod{
    background-color: rgb(152, 247, 148);
}
.nonmetal{
    background-color:rgb(65, 184, 57);
}
.metal{
    background-color:rgb(0, 255, 53);
}